<footer class="footer">
  <div class="icon-wrapper" (click)="onIconClick('github')">
    <fa-icon
      [icon]="['fab', 'github']"
      [ngClass]="{ 'icon-hover': isHovered && currentIcon === 'github' }"
    ></fa-icon>
  </div>

  <div class="icon-wrapper" (click)="onIconClick('linkedin')">
    <fa-icon
      [icon]="['fab', 'linkedin']"
      [ngClass]="{ 'icon-hover': isHovered && currentIcon === 'linkedin' }"
    ></fa-icon>
  </div>

  <div class="icon-wrapper" (click)="onIconClick('medium')">
    <fa-icon
      [icon]="['fab', 'medium']"
      [ngClass]="{ 'icon-hover': isHovered && currentIcon === 'medium' }"
    ></fa-icon>
  </div>
</footer>
