<footer>
  <a
    href="https://github.com/chrischarlesgibson?tab=repositories"
    target="_blank"
  >
    <button mat-icon-button color="primary" aria-label="github icon">
      <fa-icon [icon]="faGithub"></fa-icon>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/chris-gibson-415909250/" target="_blank">
    <button mat-icon-button color="primary" aria-label="linkedin icon">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </button>
  </a>

  <a href="https://medium.com/@chrischarlesgibson" target="_blank">
    <button mat-icon-button color="primary" aria-label="medium icon">
      <fa-icon [icon]="faMedium"></fa-icon>
    </button>
  </a>
</footer>
