.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  width: 100vw;
  height: 100%;
}

.about-container > * {
  margin-bottom: 40px;
}
.bio {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 14vh;
}

@media (min-width: 900px) {
  .bio {
    font-size: 2em;
    line-height: 1.5;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .bio {
    font-size: 1.2em;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .bio {
    font-size: 1.1em;
    line-height: 1.5;
  }
}

button {
  color: black;
  text-decoration: none;
  margin: 0 40px;
  font-size: 25px;
}

.links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .links-container {
    flex-direction: column;
    align-items: center;
  }
}

.headshot {
  border-radius: 50%;
  margin-top: 80px;
}
