<div class="about-container">
  <img
    class="headshot"
    alt="Chris Gibson"
    src="
    ../../assets/images/headshot.png"
    width="200"
    height="200"
  />

  <hr />

  <div class="links-container">
    <div class="email">chrischarlesgibson@gmail.com</div>

    <a
      href="https://www.linkedin.com/in/chris-gibson-415909250/"
      target="_blank"
    >
      <button mat-icon-button color="primary" aria-label="linkedin icon">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </button>
    </a>

    <a
      href="https://github.com/chrischarlesgibson?tab=repositories"
      target="_blank"
    >
      <button mat-icon-button color="primary" aria-label="github icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </button>
    </a>
  </div>

  <div class="bio">
    I'm a full-stack developer that has a strong history in project management.
    I have experience with Javascript, Typescript, C#, React.js, Angular , SQL,
    MongoDB, Node.js, Express.js, GraphQL, REST APIs, Jest, and more. I am
    looking for new and exciting challenges as a full-stack developer and hope
    to be a key member of your team!
  </div>
</div>
