<div class="project-container" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="25%"
    fxFlex.xs="100%"
    fxFlex.sm="33%"
    *ngFor="let project of projects"
  >
    <mat-card class="mat-elevation-z4 projects-card">
      <img mat-card-image class="projects-image" [src]="project.image" />
      <mat-card-content class="projects-content">
        <div>
          <p class="projects-title">{{ project.title }}</p>
          <p class="projects-description">{{ project.description }}</p>
          <p class="projects-tech">{{ project.tech }}</p>
        </div>
        <div class="projects-actions">
          <a mat-button href="{{ project.repo }}">REPO</a>
          <a mat-button href="{{ project.appUrl }}">DEMO</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
