.projects-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-container {
  padding: 16px;
}

.projects-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
}

.projects-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.projects-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
  flex-grow: 1;
  overflow-y: auto;
}

.projects-tech {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.projects-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
