<div class="resumeContainer">
  <div class="leftResumeGrid">
    <div class="resumeCard">
      <h2 class="resumeHeader">click resume to download</h2>
      <a
        class="resumeLink"
        href="{{ resumePDF }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="resumeImage" src="{{ resumeImage }}" alt="resume" />
      </a>
    </div>
  </div>

  <div class="rightResumeGrid">
    <div class="skillsList">
      <h2 class="skillsHeader">Skills</h2>
      <ul class="skillsList">
        <li class="skill" *ngFor="let skill of skills">•{{ skill }}</li>
      </ul>
    </div>
  </div>
</div>
