.leftResumeGrid {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.resumePDF {
  height: 100%;
  width: 100%;
}

.resumeCard {
  position: relative;
  box-shadow: none !important;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.resumeImage {
  width: 100%;
  height: auto;
  border: 2px solid black;
  margin-top: 20px !important;
}

.resumeLink {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.skillsHeader {
  text-align: center;
  color: black;
}

.resumeHeader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  color: black;
}

.skillsList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.skill {
  font-size: 1.2rem;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.rightResumePage {
  color: black !important;
}

@media only screen and (max-width: 1020px) {
  .resumeContainer {
    display: flex !important;
    flex-direction: column !important;
  }
  .resumeImg {
    width: 100% !important;
  }
  .skillsContainer {
    justify-content: center !important;
  }
}

@media (min-width: 900px) {
  .skill {
    font-size: 1.3em !important;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .skill {
    font-size: 1.2em !important;
  }
}

@media (max-width: 600px) {
  .skill {
    font-size: 1em !important;
  }
}

.divider {
  background-color: black !important;
}

.skillsList {
  padding-bottom: 14vh;
}
